/*----------Movie Streaming----------*/
body{
  background-color: black;
}
.jumbotron-fluid{
  background-color: #0c0c0c;
  color: #e2dd31;
  margin-left: 0%;
  margin-right: 0%;
  height: 180vh !important;
}
.jumbotron-fluid h1:hover{
  color: #85c639;
}
.jumbotron-fluid h4:hover{
  color: #85c639;
}

.jumbotron-fluid h5{
  color:#9e8b24;
}
.container video{
  margin-left: 0%;
}

.page-footer{
  background-color: black;
  color: white;
}
